/* open sans */

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.eot");
  src: url("../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.woff") format("woff"), url("../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.eot");
  src: url("../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.woff2") format("woff2"), url("../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.woff") format("woff"), url("../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.ttf") format("truetype"), url("../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/semi-bold/OpenSans-Semibold.eot");
  src: url("../../fonts/open_sans/semi-bold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/semi-bold/OpenSans-Semibold.woff2") format("woff2"), url("../../fonts/open_sans/semi-bold/OpenSans-Semibold.woff") format("woff"), url("../../fonts/open_sans/semi-bold/OpenSans-Semibold.ttf") format("truetype"), url("../../fonts/open_sans/semi-bold/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/italic/OpenSans-Italic.eot");
  src: url("../../fonts/open_sans/italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/italic/OpenSans-Italic.woff2") format("woff2"), url("../../fonts/open_sans/italic/OpenSans-Italic.woff") format("woff"), url("../../fonts/open_sans/italic/OpenSans-Italic.ttf") format("truetype"), url("../../fonts/open_sans/italic/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/light-italic/OpenSansLight-Italic.eot");
  src: url("../../fonts/open_sans/light-italic/OpenSansLight-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/light-italic/OpenSansLight-Italic.woff2") format("woff2"), url("../../fonts/open_sans/light-italic/OpenSansLight-Italic.woff") format("woff"), url("../../fonts/open_sans/light-italic/OpenSansLight-Italic.ttf") format("truetype"), url("../../fonts/open_sans/light-italic/OpenSansLight-Italic.svg#OpenSansLight-Italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/bold/OpenSans-Bold.eot");
  src: url("../../fonts/open_sans/bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/bold/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/open_sans/bold/OpenSans-Bold.woff") format("woff"), url("../../fonts/open_sans/bold/OpenSans-Bold.ttf") format("truetype"), url("../../fonts/open_sans/bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/regular/OpenSans.eot");
  src: url("../../fonts/open_sans/regular/OpenSans.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/regular/OpenSans.woff2") format("woff2"), url("../../fonts/open_sans/regular/OpenSans.woff") format("woff"), url("../../fonts/open_sans/regular/OpenSans.ttf") format("truetype"), url("../../fonts/open_sans/regular/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/extra-bold/OpenSans-Extrabold.eot");
  src: url("../../fonts/open_sans/extra-bold/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/extra-bold/OpenSans-Extrabold.woff2") format("woff2"), url("../../fonts/open_sans/extra-bold/OpenSans-Extrabold.woff") format("woff"), url("../../fonts/open_sans/extra-bold/OpenSans-Extrabold.ttf") format("truetype"), url("../../fonts/open_sans/extra-bold/OpenSans-Extrabold.svg#OpenSans-Extrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.eot");
  src: url("../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.woff2") format("woff2"), url("../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.woff") format("woff"), url("../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.ttf") format("truetype"), url("../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open_sans/light/OpenSans-Light.eot");
  src: url("../../fonts/open_sans/light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/open_sans/light/OpenSans-Light.woff2") format("woff2"), url("../../fonts/open_sans/light/OpenSans-Light.woff") format("woff"), url("../../fonts/open_sans/light/OpenSans-Light.ttf") format("truetype"), url("../../fonts/open_sans/light/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* open sans end */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: 0;
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-moz-selection {
  color: #5460f1;
  background: #fff;
}

::selection {
  color: #5460f1;
  background: #fff;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #41072b;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
  max-width: 414px;
}

.bg-1 {
  background-image: url(../../img/bg-2.png);
}

.footer {
  width: 100%;
  padding-bottom: 25px;
}

.footer__top {
  margin-bottom: 9px;
}

.footer__top .btn {
  width: 283px;
  height: 95px;
  margin: 0 auto;
}

.footer__bottom {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.footer__bottom .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__bottom .row:first-child .btn {
  width: 144px;
  height: 50px;
  margin-left: 3px;
}

.footer__bottom .row:last-child .btn {
  width: 151px;
  height: 56px;
}

.footer__bottom .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
}

.btn {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

.btn:hover {
  opacity: .85;
}

.btn-play {
  background-image: url(../../img/btn_play.png);
}

.btn-google-play {
  background-image: url(../../img/button_google_play.png);
}

.btn-app-store {
  background-image: url(../../img/button_appstore.png);
}

.btn-ok {
  background-image: url(../../img/btn_ok.png);
}

.btn-fb {
  background-image: url(../../img/btn_fb.png);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: initial;
    position: relative;
    background-position: 50% 50%;
  }

  .bg-1 {
    background-image: url(../../img/bg-2-large.png);
  }

  .footer {
    padding-top: 30vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
  }

  .footer__bottom {
    max-width: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__bottom .row:first-child {
    margin-top: 3px;
  }

  .footer__bottom .row:last-child .btn {
    width: 149px;
  }

  .footer__bottom .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: initial;
  }
}

@media screen and (min-width: 768px) and (max-height: 700px) {
  .main {
    background-position: 50% 10%;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .footer {
    padding-top: 120%;
  }
}