body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background-color: #41072b;
	
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #F5F5F5;
	}
	
	&::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #ccc;
		
		background-image: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(.5, rgba(255, 255, 255, .2)),
				color-stop(.5, transparent), to(transparent));
	}
}

.main {
	display: flex;
	align-items: flex-end;
	flex: 1;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 100%;
	max-width: 414px;

	@media screen and (min-width: 768px) {
		max-width: initial;
		position: relative;
		background-position: 50% 50%;
	}

	@media screen and (min-width: 768px) and (max-height: 700px) {
		background-position: 50% 10%;
	}
}

.bg-1 {
	background-image: url(../../img/bg-2.png);

	@media screen and (min-width: 768px) {
		background-image: url(../../img/bg-2-large.png);
	}
}


.footer {
	width: 100%;
	padding-bottom: 25px;
	
	@media screen and (orientation: landscape) and (max-width: 767px){
		padding-top: 120%;
	}

	@media screen and (min-width: 768px) {
		padding-top: 30vw;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
		z-index: 1;
	}
	
	&__top {
		margin-bottom: 9px;
		
		.btn {
			width: 283px;
			height: 95px;
			margin: 0 auto;
		}
	}
	
	&__bottom {
		max-width: 300px;
		width: 100%;
		margin: auto;

		@media screen and (min-width: 768px) {
			max-width: initial;
			display: flex;
			justify-content: center;
		}
	
		.row {
			display: flex;
			flex-wrap: wrap;
			
			&:first-child {
				@media screen and (min-width: 768px) {
					margin-top: 3px;
				}

				.btn {
					width: 144px;
					height: 50px;
					margin-left: 3px;
				}
			}
			
			&:last-child {
				.btn {
					width: 151px;
					height: 56px;

					@media screen and (min-width: 768px) {
						width: 149px;
					}
				}
			}
		}
		
		.col {
			display: flex;
			justify-content: center;
			flex: 1 0 50%;
			max-width: 50%;

			@media screen and (min-width: 768px) {
				flex: 1 0 auto;
				max-width: initial;
			}
		}
	}
}

.btn {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	transition: opacity .15s ease;
	
	&:hover {
		opacity: .85;
	}
	
	&-play {
		background-image: url(../../img/btn_play.png);
	}
	
	&-google-play {
		background-image: url(../../img/button_google_play.png);
	}
	
	&-app-store {
		background-image: url(../../img/button_appstore.png);
	}
	
	&-ok {
		background-image: url(../../img/btn_ok.png);
	}
	
	&-fb {
		background-image: url(../../img/btn_fb.png);
	}
	
}
